.songcontainer {
  background: #ca2121;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.songcontainer__songSearchContainer {
  margin-bottom: 20px;
  display: flex;
  flex-basis: 100%;

}

/* Song */
.song {
  padding: 20px;
  cursor: pointer;
  border: 1px solid black;
  margin: 3px;
  display: flex;
  flex-direction: column;
  flex-basis: 1%; /* Seems to work, god knows why. */
  max-height: 300px;
}

.favourite {
  background-color: gold;
}

.song:hover {
  background-color: #d40000;
}

.song__favouriteButton {
  cursor: pointer;
  color: #444;
  background: gold;
  padding: 11px 15px;
  height: 20px;
  width: 10px;
  border-radius: 30px;
  position: relative;
  left: -27px;
  top: -279px;
  border: 1px solid #444;
}

.song__name {
  max-width: 100%;
  text-align: center;
  position: relative;
  top: -30px;
}

.song__image {
  height: 250px;
  width: 333px;
  position: relative;
  top: 0px;
}


/*..............................................*/

.loginButton {
  float: right;
  cursor: pointer;
}

.playerControls {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.commandButton {
  cursor: pointer;
  background: #d52b2a;
  color: white;
  padding: 10px;
  margin-top: 22px;
  display: inline-block;
  text-align: center;
  flex: 0% 1;
  margin-left: 0;
  width: 17%;
  border: 3px solid #000000;
  margin-top: 0px;
}

.commandButton:hover {
  background-color: #d40000;
}

.navBar {
  background-color: #ca2121;
  text-align: center;
  padding: 20px;
}
