/* This is optimal witdh for the player. */
.player {
  width: 69%;
  margin-left: 250px;
  max-width: 1065px;
}

.songcontainer {
  background: #ca2121;
  float: right;
  position: absolute;
  top: 70px;
  padding-top: 20px;
  padding-right: 16px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.song {
  margin-bottom: 7px;
  cursor: pointer;
}

.song:hover {
  background: #820000;
  border-radius: 10px;
}

.loginButton {
  float: right;
  cursor: pointer;
}

.playerControls {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.playButton {
  cursor: pointer;
  background: black;
  padding: 0px 7px;
}

.commandButton {
  cursor: pointer;
  background: #d52b2a;
  color: white;
  padding: 10px;
  margin-top: 22px;
  display: inline-block;
  text-align: center;
  flex: 0% 1;
  margin-left: 0;
  width: 17%;
  border: 4px solid #222222;
  border-radius: 13px;
}

.navBar {
  background-color: #ca2121;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .songcontainer {
    display: contents;
  }
  .player {
    width: 100%;
    margin-left: 0px;
  }

  .playerControls {
    margin-top: -20px;
  }

  .playButton {
    background-color: #e13331;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
  }

  .song {
    margin-top: 30px;
  }

  .songName {
    text-decoration: underline;
  }

  .navBar {
    margin-bottom: 0px;
    padding: 10px;
  }

  .song:hover {
    background: #222222;
    border-radius: 10px;
  }
}
