.songcontainer {
  background: #ca2121;
  padding: 20px;
}


.songSearchContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.songSearchContainer > span {
  flex-basis: 40%;

}

.songSearchContainer > input {
  flex-basis: 60%;
}

.song {
  padding: 6px;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 3px;
}

.song-favourite {
  padding: 6px;
  cursor: pointer;
  background-color: #ffb100;
  border: 1px solid black;
  margin-top: 3px;
}

.song:hover {
  background-color: #d40000;
}

.loginButton {
  float: right;
  cursor: pointer;
}

.playerControls {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.playButton {
  cursor: pointer;
  color:black;
  background: gold;
  padding: 0px 7px;
}

.commandButton {
  cursor: pointer;
  background: #d52b2a;
  color: white;
  padding: 10px;
  margin-top: 22px;
  display: inline-block;
  text-align: center;
  flex: 0% 1;
  margin-left: 0;
  width: 17%;
  border: 3px solid #000000;
  margin-top: 0px;
}

.commandButton:hover {
  background-color: #d40000;
}

.navBar {
  background-color: #ca2121;
  text-align: center;
  padding: 20px;
}
